<! - Wrapper de conteúdo. Contém conteúdo da página ->
< div  class = " wrapper de conteúdo " >
<! - Cabeçalho do conteúdo (cabeçalho da página) ->
< section  class = " content-header " >
  < h1 >
    Editar Senha do Usuário
  </ h1 >
</ seção >

<! - Conteúdo principal ->
< section  class = " content " >

  < div  class = " row " >
  	< div  class = " col-md-12 " >
  		< div  class = " box box-primary " >
        < div  class = " cabeçalho da caixa com borda " >
          < h3  class = " box-title " > Editar Senha do Usuário </ h3 >
        </ div >
        <! - /.box-header ->
        <! - início do formulário ->

        {if = "$ msgError! = ''"}
        < div  class = " alerta alerta-perigo alerta-dispensável " style = " margin: 10px " >
            < tipo de botão  = " botão " classe = " fechar " data-ignorar = " alerta " aria-hidden = " true " > × </ button >
            < p > {$ msgError} </ p >
        </ div >
        {/E se}
        {if = "$ msgSuccess! = ''"}
        < div  class = " alerta alerta-sucesso alerta-dispensável " style = " margin: 10px " >
            < tipo de botão  = " botão " classe = " fechar " data-ignorar = " alerta " aria-hidden = " true " > × </ button >
            < p > {$ msgSuccess} </ p >
        </ div >
        {/E se}

        < form  role = " form " action = " /admin/users/{$user.iduser}/password " method = " post " >
          < div  class = " corpo da caixa " >
            < div  class = " form-group " >
              < label  for = " despassword " > Nova Senha </ label >
              < input  type = " password " class = " control-form " id = " despassword " name = " despassword " espaço reservado = " Nova senha " >
            </ div >
            < div  class = " form-group " >
              < label  for = " despassword-confirm " > Confirme uma senha </ label >
              < input  type = " password " class = " control-form " id = " despassword-confirm " name = " despassword-confirm " placeholder = " Confirme a nova senha " >
            </ div >
          </ div >
          <! - /.box-body ->
          < div  class = " rodapé da caixa " >
            < tipo de botão  = " enviar " class = " btn btn-primary " > Salvar </ button >
          </ div >
        </ form >
      </ div >
  	</ div >
  </ div >

</ seção >
<! - /.content ->
</ div >
<! - /.content-wrapper ->